<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="public/stylesheet/loading-spinner.css">
	<title>{{#if title_prefix}}{{title_prefix}} - {{/if}}{{#if title}}{{title}}{{else}}Cloud Panel{{/if}}</title>
	<link rel="stylesheet" href="public/stylesheet/style.css">
	<link rel="stylesheet" href="public/stylesheet/bootstrap.min.css">
	<style>
		html, body {
			height: 100%;
		}

		body {
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.login {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
		}
	</style>
</head>

<body class="text-center text-light bg-dark" cz-shortcut-listen="true">

<script>
	window.addEventListener("load", () => {
		const loadingSpinner = document.querySelector(".loading-spinner");
		loadingSpinner.classList.add("loading-spinner-hidden");
		loadingSpinner.addEventListener("transitionend", () => {
			document.body.removeChild(loadingSpinner);
		});
	});
</script>
<div class="loading-spinner"></div>

<main class="login">
	<img class="mb-4" src="public/images/HQ.jpg" alt=""
		 width="72" height="70">

	<button class="w-100 btn btn-lg btn-primary"
			onclick="window.location = '{{ loginLink }}';">{{ lang.loginWithDiscord }}</button>
</main>


</body>
</html>